<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSFamilyControlsUsageDescription</key>
	<string>BeYou needs access to Screen Time to help you manage app usage and build healthy habits</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>be-you-1-blush</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-1-blush</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-2-celestial</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-2-celestial</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-3-holographic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-3-holographic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-4-starfield</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-4-starfield</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-5-clouds</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-5-clouds</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-6-aurora</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-6-aurora</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-7-peach-lavender</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-7-peach-lavender</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-8-cream-spark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-8-cream-spark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>be-you-9-slate-navy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>be-you-9-slate-navy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>beyou</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.odudu.BeYou</string>
		</dict>
	</array>
</dict>
</plist>
